
body {
	/*position: relative;*/
	padding-bottom: 80px;
}

body .container {
	position: relative;
	min-height: 100%;
}

.page-content {
	height: 100%;
	padding-bottom: 180px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/*margin-top: -180px;*/
	margin-bottom: 40px;
	/*padding-top: 50px;*/
}

footer h4 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 90%;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	color: #484c57;
}

footer nav a {
	display: block;
	color: #9196aa;
	font-weight: normal;
}

footer nav a i {
	margin-right: 5px;
	color: #7eccc2;
	font-weight: 500;
}

.scroll-up {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 5px 10px;
	background-color: #ddd;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	transition: transform 0.8s ease-in-out;
}

.scroll-up:hover {
	background-color: #ccc;
}