{% extends "layouts/layout.html" %}

{% block title %}CUDA Problem{% endblock %}

{% block content %}
	<form action="cuda" method="POST" role="form" enctype="multipart/form-data">
	{% csrf_token %}
		{% if form.non_field_errors %}
		<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Error!</strong> {{ form.non_field_errors }}
		</div>
		{% endif %}
		<div class="form-group">
			<label for="{{ form.file.id_for_label }}" class=" control-label">{{ form.file.label_tag }}</label>
			{{ form.file }}
			{{ form.file.errors }}
		</div>
		<div class="form-group">
			<button type="submit" class="btn blue col-md-3">Upload</button>
		</div>
	</form>
	{% if file_exists %}
	<p>File Exists</p>
	<br>
	<br>
	<a href="parse_cuda" class="btn blue col-md-3">Parse</a>
	<br>
	<br>
	<br>
	<form action="solve_cuda" method="POST" role="form" enctype="multipart/form-data">
	{% csrf_token %}
		{% if form2.non_field_errors %}
		<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Error!</strong> {{ form2.non_field_errors }}
		</div>
		{% endif %}
		<div class="form-group">
			<label for="{{ form2.choice.id_for_label }}" class=" control-label">{{ form2.choice.label_tag }}</label>
			<!-- <select>
				<option value="max">Max</option>
				<option value="min">Min</option>
			</select> -->
			{{ form2.choice }}
			{{ form2.choice.errors }}
		</div>
		<div class="form-group">
			<button type="submit" class="btn blue col-md-3">Solve</button>
		</div>
	</form>
	<!-- <a href="solve_cuda" class="btn blue col-md-3">Solve</a> -->
	{% endif %}
{% endblock %}