<!-- BEGIN FOOTER -->
<footer>
	<div class="container">
		<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<a href="/"><h3>UT Solver</h3></a>
			<small class="footer-inner">
				<span>&copy; 2014 UT Solver</span>
			</small>
		</div>
		<div class="col-md-2">
			<h4>About</h4>
			<nav>
				<a href="/about">About</a>
				<a href="/personnel">Personnel</a>
			</nav>
		</div>
		<div class="col-md-2">
			<h4>Resources</h4>
			<nav>
				<a href="/docs">Documentation</a>
				<a href="/support">Support</a>
			</nav>
		</div>
		<div class="col-md-2">
			<h4>Social</h4>
			<nav>
				<a href="https://blog.ut-solver.com">Our Blog</a>
				<a href="https://www.facebook.com/UT-Solver">Facebook</a>
				<a href="https://www.twitter.com/UT-Solver">Twitter</a>
			</nav>
		</div>
		<div class="col-md-2"></div>
	</div>
</footer>
<!-- <div class="page-tools">
	<span class="go-top">
		<i class="fa fa-angle-up"></i>
	</span>
</div> -->
<!-- END FOOTER -->