<header>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">UTLS</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% if user.is_authenticated %}
					{% if user.is_superuser %}
					<li><a href="/admin">Admin</a></li>
					{% endif %}
					<li><a href="{% url 'problems' %}">Problems</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{% url 'edit_profile' %}"><i class="fa fa-user"></i>&nbsp;Edit Profile</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>&nbsp;Log out</a></li>
						</ul>
					</li>
					{% else %}
					<li><a href="{% url 'login' %}">Sign in</a></li>
					<li><a href="{% url 'register' %}">Sign up</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>