{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>UT Solver | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" />
	<script src="{% get_static_prefix %}js/jquery.min.js"></script>
	{% csrf_token %}
</head>
<body>
	{% include 'layouts/header.html' %}
	
	<div class="container">
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
			{% endfor %}
		</ul>
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		
		{% block content %}{% endblock %}
	</div>
	
	{% include 'layouts/footer.html' %}
	<script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
</body>
</html>