{% extends "layouts/layout.html" %}

{% block content %}

<a class="btn btn-primary col-md-3" href="/problems/new">New Problem</a>
{% if problems %}
<table class="table">
	<thead>
		<th width="10%">#</th>
		<th width="70%">Problem</th>
		<th width="20%"></th>
	</thead>
	<tbody>
	{% with cnt=problems.count %}
	{% for problem in problems %}
		<td>{{ problem.id }}</td>
		<td>{{ problem.problem_text }}</td>
		<td><a class="btn btn-info" href="{% url 'view_problem' problem.id %}">View</a></td>
	{% endfor %}
	{% endwith %}
	</tbody>
</table>
{% else %}
{% endif %}

{% endblock %}